body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: #d2c1f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #f1abab;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    background-color: rgb(235, 185, 185);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    display: none;
}

.success-message {
    color: green;
    margin-bottom: 10px;
    display: none;
}
